<menu-patient></menu-patient>
<body>
  <div *ngIf="successMessage">
    {{ successMessage }}
  </div>
<section class="attendance m-l-60">
	<div class="attendance-list">
	  <h1>LISTE DES RENDEZ-VOUS</h1>
	  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Médecin</th>
          <th>Patient</th>
          <th>Date</th>
          <th>Motif</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rendezVous of listeRendezVous">
          <td>{{ rendezVous?.medecin?.prenom }} {{ rendezVous?.medecin?.nom }}</td>
          <td>{{rendezVous?.patient?.prenom}} {{rendezVous?.patient?.nom}}</td>
          <td>{{ rendezVous.date }}</td>
          <td>{{ rendezVous.motif }}</td>

          <td>
            <button (click)="editRendezvous(rendezVous.id)" class="modif">Modifier</button>
          </td>
          <td>
            <button (click)="confirmDelete(rendezVous.id)" class="suppre">Supprimer</button>
          </td>
          <td [ngClass]="{'rendezvous-annule': rendezVous.statut === 'annuler'}">
            <button *ngIf="rendezVous.statut === 'annuler'" type="button" class="btn btn-danger" [disabled]="true" (click)="confirmRendezvous(rendezVous.id)">
              Deja annulée
            </button>
            <button *ngIf="rendezVous.statut === 'confirmer'" type="button" class="annul" (click)="annulerRendezvous(rendezVous.id)">
              Annuler
            </button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
  </section>
</body>
<footere></footere>