<menu-medecin></menu-medecin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Inclure le lien vers le fichier CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .indisponible {
            font-weight: bold;
        }
    </style>

    <div class="container">
        <h2 class="mt-4">Planning du médecin</h2>
        <form>
            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Jour</th>
                        <th>Heures</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lundi</td>
                        <td>
                            <div class="form-group">
                                <label for="lundi_heure">Voir heure disponnible :</label>
                                <select class="form-control" name="lundi_heure" id="lundi_heure">
                                  <option value="voir">--voir--</option>
                                    <option value="08:00">08:00</option>
                                    <option value="10:00" class="indisponible" disabled>10:00 (Indisponible)</option>
                                    <option value="14:00">14:00</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>
                            <div class="form-group">
                                <label for="mardi_heure">Voir heure disponnible  :</label>
                                <select class="form-control" name="mardi_heure" id="mardi_heure">
                                  <option value="voir">--voir--</option>
                                    <option value="08:00">08:00</option>
                                    <option value="10:00" class="indisponible" disabled>10:00 (Indisponible)</option>
                                    <option value="14:00">14:00</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>
                            <div class="form-group">
                                <label for="mercredi_heure">Voir heure disponnible :</label>
                                <select class="form-control" name="mercredi_heure" id="mercredi_heure">
                                  <option value="voir">--voir--</option>
                                    <option value="08:00">08:00</option>
                                    <option value="10:00" class="indisponible" disabled>10:00 (Indisponible)</option>
                                    <option value="14:00">14:00</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Jeudi</td>
                        <td>
                            <div class="form-group">
                                <label for="jeudi_heure">Voir heure disponnible :</label>
                                <select class="form-control" name="jeudi_heure" id="jeudi_heure">
                                  <option value="voir">--voir--</option>
                                    <option value="08:00">08:00</option>
                                    <option value="10:00" class="indisponible" disabled>10:00 (Indisponible)</option>
                                    <option value="14:00">14:00</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Vendredi</td>
                        <td>
                            <div class="form-group">
                                <label for="vendredi_heure">Voir heure disponnible :</label>
                                <select class="form-control" name="vendredi_heure" id="vendredi_heure">
                                  <option value="voir">--voir--</option>
                                    <option value="08:00">08:00</option>
                                    <option value="10:00" class="indisponible" disabled>10:00 (Indisponible)</option>
                                    <option value="14:00">14:00</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Samedi</td>
                        <td>
                            <div class="form-group">
                                <label for="samedi_heure">Voir heure disponnible :</label>
                                <select class="form-control" name="samedi_heure" id="samedi_heure">
                                  <option value="voir">--voir--</option>
                                    <option value="08:00">08:00</option>
                                    <option value="10:00" class="indisponible" disabled>10:00 (Indisponible)</option>
                                    <option value="14:00">14:00</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Dimanche</td>
                        <td>
                            <div class="form-group">
                                <label for="dimanche_heure">Voir heure disponnible :</label>
                                <select class="form-control" name="dimanche_heure" id="dimanche_heure">
                                    <option value="voir">--voir--</option>
                                    <option value="08:00">08:00</option>
                                    <option value="10:00" class="indisponible" disabled>10:00 (Indisponible)</option>
                                    <option value="14:00">14:00</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- Inclure le script Bootstrap JS (optionnel) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<footere></footere>
