<menu-admin></menu-admin>
<section class="attendance m-l-60">
	<div class="attendance-list">
	  <h1>LISTE DES PATIENTS</h1>
	  <table class="table">
      <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Âge</th>
            <th>Sexe</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.prenom }}</td>
          <td>{{ patient.nom }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.sexe }}</td>
          <td>{{ patient.adresse }}</td>
          <td>{{ patient.telephone }}</td>
          <td>
              <button class="modif">modifier</button>
			        <button class="suppre">supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
	</div>
  </section>
  <footere></footere>