<menu-patient></menu-patient>
<section class="attendance m-l-60">
	<div class="attendance-list">
	  <h1>LISTE DES PRESCRIPTION</h1>
	  <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Medicament</th>
        <th>Description</th>
        <th>Medecin</th>
        <th>Patient</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prescription of listePrescription">
        <td>{{ prescription.id }}</td>
        <td>{{ prescription.medicament}}</td>
        <td>{{ prescription.description }}</td>
        <td>{{ prescription.medecin.prenom }} {{ prescription.medecin.nom }}</td>
        <td>{{ prescription.patient.prenom }} {{ prescription.patient.nom }}</td>
        <td>{{ prescription.date}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
</section>
<footere></footere>