
<menu-medecin></menu-medecin>
<body>
  <body>
    <div class="container contain">
        <div *ngIf="successMessage">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-headere"><h2>LISTE DE MES CONSULTATIONS</h2></div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <!-- <th>Prénom & Nom Medecin</th> -->
                                <th>Patient</th>
                                <th>Date</th>
                                <th>Poids</th>
                                <th>Taille</th>
                                <th>Allergie</th>
                                <th>Antecedant</th>
                                <th>Diacnostique</th>
                                <th>Groupe sanguin</th>
                                <th>Motif</th>
                                <!-- <th>Profession</th> -->
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let consultation of listeConsultations">
                                
                                <!-- <td>{{ consultation.medecin.prenom }} {{ consultation.medecin.nom }}</td> -->
                                <td>{{ consultation.patient.prenom }} {{ consultation.patient.nom }}</td>
                                <td>{{ consultation.date}}</td>
                                <td>{{ consultation.poids }}</td>
                                <td>{{ consultation.taille }}</td>
                                <td>{{ consultation.allergie }}</td>
                                <td>{{ consultation.antecedent }}</td>
                                <td>{{ consultation.diagnostic }}</td>
                                <td>{{ consultation.groupeSanguin }}</td>
                                <td>{{ consultation.motif }}</td>
                                <!-- <td>{{ consultation.profession }}</td> -->
                                <td>
                                  <button (click)="confirmEdit(consultation.id)" class="btn btn-success btn-sm">
                                    Modifier
                                  </button>
                                </td>
                                <td>
                                  <button (click)="confirmDelete(consultation.id)" class="btn btn-danger btn-sm">
                                    Supprimer
                                  </button>
                              </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </body>
<footere></footere>