
<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Modifier Prescription</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<menu-medecin></menu-medecin>
<body>
  <div class="container">
    <div class="title">MODIFIER PRESCRIPTION</div>
    <div class="content">
      
      <form (ngSubmit)="onSubmit()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nom Médicament</span>
            <input type="text" id="medicament" name="medicament" placeholder="Saisir le nom du médicament" [(ngModel)]="prescription.medicament" required>
          </div>
      
          <div class="input-box">
            <span class="details">Description</span>
            <input type="text" id="description" name="description" placeholder="Saisir la description" [(ngModel)]="prescription.description" required>
          </div>
          <div class="input-box">
            <span class="details">Date Prescription</span>
            <input type="date" id="date" name="date" title="choisir date" [(ngModel)]="prescription.date" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="MODIFIER PRESCRIPTION">
        </div>
      </form>
      
    </div>
  </div>
  <script src="chemin-vers-votre-script-angular.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<footere></footere>
