@import "../../assets/scss/styleForm.css";

.card-headere{
    // background-color: green;
    text-align: center;
    color: #fff;
    background: linear-gradient(135deg, #4CAF50, #f1f2f3,);
    border-radius: 5px;
    
  }


