<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/"><img src="../../assets/images/logodocteur.svg" alt="" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A propos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Contact</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a routerLink="/inscrirePatient" class="m-3" style="background-color: green;border-radius: 10px;color: white; text-decoration: none; padding: 12px; font-size: medium; font-weight: 200;"> Inscription</a>
        <a routerLink="/connexion"  class=" m-3"  style="background-color: rgb(8, 233, 8);border-radius: 10px;color: white; text-decoration: none; padding: 12px; font-size: medium; font-weight: 200;">Connexion</a>
      </form>
    </div>
  </div>
</nav>
