<menu-medecin></menu-medecin>
<div class="container border border-success rounded p-3">
    <div class="bg-success text-light p-2 rounded text-center">
        <i class="bi bi-calendar-plus"></i> AJOUTER CONSULTATION
      </div>
    <form (ngSubmit)="ajoutConsultation()">

    <div class="row">
      <div class="col">
        <label for="medecin">Médecin</label>
        <select class="form-control" id="medecin" name="medecin_id" title="Sélectionner un médecin" [(ngModel)]="nouvelleConsultation.medecin" required>
          <option value="">Sélectionnez un médecin</option>
          <option *ngFor="let medecin of medecins" [ngValue]="medecin">{{ medecin.nom }} {{ medecin.prenom }}</option>
        </select>
      </div>

      <div class="col">
        <label for="patient_id">Patient</label>
        <select class="form-control" id="patient" name="patient_id" title="Sélectionner un patient" [(ngModel)]="nouvelleConsultation.patient" required >
          <option value="">Sélectionnez un patient</option>
          <option *ngFor="let patient of patients" [ngValue]="patient">{{ patient.prenom }} {{ patient.nom }}</option>
        </select>
      </div>
    </div>
    <div class="row m-3">
      <div class="col">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="nouvelleConsultation.date" name="date">
      </div>
      <div class="col">
        <label for="poids">Poids:</label>
        <input type="number" class="form-control" id="poids" [(ngModel)]="nouvelleConsultation.poids" name="poids">
      </div>
      
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="taille">Taille:</label>
        <input type="number" class="form-control" id="taille" [(ngModel)]="nouvelleConsultation.taille" name="taille">
      </div>
      <div class="col">
        <label for="allergie">Allergie:</label>
        <input type="text" class="form-control" id="allergie" [(ngModel)]="nouvelleConsultation.allergie" name="allergie">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="antecedent">Antécédent:</label>
        <input type="text" class="form-control" id="antecedent" [(ngModel)]="nouvelleConsultation.antecedent" name="antecedent">
      </div>
      <div class="col">
        <label for="diagnostic">Diagnostic:</label>
        <input type="text" class="form-control" id="diagnostic" [(ngModel)]="nouvelleConsultation.diagnostic" name="diagnostic">
      </div>
    </div>
    <div class="row mt-3">   
      <div class="col">
        <label for="groupe_sanguin">Groupe Sanguin:</label>
        <input type="text" class="form-control" id="groupe_sanguin" [(ngModel)]="nouvelleConsultation.groupe_sanguin" name="groupe_sanguin">
      </div>
    </div>
      <div class="col">
        <label for="motif">Motif:</label>
        <input type="text" class="form-control" id="motif" [(ngModel)]="nouvelleConsultation.motif" name="motif">
      </div>
      <div class="col">
        <label for="profession">Profession:</label>
        <input type="text" class="form-control" id="profession" [(ngModel)]="nouvelleConsultation.profession" name="profession">
      </div>
    <div class="d-flex justify-content-center"></div>
         <button class="btn btn-success  m-3" (click)="ajoutConsultation()"><i class="bi bi-check-circle"></i>Ajouter Consultation</button>    
    </form>
  </div>
<footere></footere>