
<!DOCTYPE html>
<html lang="en" dir="ltr" >
<head>
  
  <meta charset="UTF-8">
  <title>Ajout Consultation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<menu-medecin></menu-medecin>
<body>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="container m-5">
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="card-headere"><h2>AJOUT CONSULTATION</h2></div>
    <div class="content">
  <form (ngSubmit)="ajoutConsultation()">
    <div class="user-details">

      <!-- <div class="input-box">
        <span class="details">Médecin</span>
        <select id="medecin" name="medecin_id" title="Sélectionner un médecin" [(ngModel)]="nouvelleConsultation.medecin" required>
          <option value="">Sélectionnez un médecin</option>
          <option *ngFor="let medecin of medecins" [ngValue]="medecin">{{ medecin.nom }} {{ medecin.prenom }}</option>
        </select>
      </div> -->

      <div class="input-box">
        <span class="details">Patient</span>
        <select id="patient" name="patient_id" title="Sélectionner un patient" [(ngModel)]="nouvelleConsultation.idPatient" required >
          <option value="">Sélectionnez un patient</option>
          <option *ngFor="let patient of patients" [ngValue]="patient.id">{{ patient.prenom }} {{ patient.nom }}</option>
        </select>
      </div>
      
      <div class="input-box">
        <span class="details">Date:</span>
        <input type="date" title="entrer la date" id="date" [(ngModel)]="nouvelleConsultation.date" name="date">
      </div>
      <div class="input-box">
        <span class="details">Poids:</span>
        <input type="number" placeholder="Saisir le poids" id="poids" [(ngModel)]="nouvelleConsultation.poids" name="poids">
      </div>
      
      <div class="input-box">
        <span class="details">Taille:</span>
        <input type="number" placeholder="Saisir la taille" id="taille" [(ngModel)]="nouvelleConsultation.taille" name="taille">
      </div>
      <div class="input-box">
        <span class="details">Allergie:</span>
        <input type="text" placeholder="Saisir son allergie" id="allergie" [(ngModel)]="nouvelleConsultation.allergie" name="allergie">
      </div>
      <div class="input-box">
        <span class="details">Antécédent:</span>
        <input type="text" placeholder="Saisir l'antecedant" id="antecedent" [(ngModel)]="nouvelleConsultation.antecedent" name="antecedent">
      </div>
      <div class="input-box">
        <span class="details">Diagnostic:</span>
        <input type="text" id="diagnostic" placeholder="Donne le diagnostic" [(ngModel)]="nouvelleConsultation.diagnostic" name="diagnostic">
      </div>
    
      <div class="input-box">
        <span class="details">Groupe Sanguin:</span>
        <input type="text" id="groupe_sanguin" placeholder="Saisir son groupe sanguin" [(ngModel)]="nouvelleConsultation.groupeSanguin" name="groupe_sanguin">
      </div>
  
      <div class="input-box">
        <span class="details">Motif:</span>
        <input type="text" placeholder="Saisir le motif" id="motif" [(ngModel)]="nouvelleConsultation.motif" name="motif">
      </div>
      <div class="input-box">
        <span class="details">Profession:</span>
        <input type="text" placeholder="Saisir son profession" id="profession" [(ngModel)]="nouvelleConsultation.profession" name="profession">
      </div>
      </div>
      <div class="button">
        <input type="submit" value="AJOUTER CONSULTATION">
      </div>
  </form>
  </div>
</div>
<script src="chemin-vers-votre-script-angular.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<footere></footere>